@model FarmaPlusSA.ViewModel.citasTrabajador

@{
    ViewBag.Title = "Citas";
}

<h2>Citas</h2>
<form action="" method="post">
    <input type="submit" name="upvote" value="Asignar citas" />
</form>
<hr />
<ul>
    @foreach (var empleado in @Model.Trabajadores)
    {
        <li>
            @empleado.Nombre
            <ul>
                @foreach (var cita in @empleado.Citas)
                {
                    <li>@cita.Cliente - @cita.horaFecha</li>
                }
            </ul>
        </li>
    }
</ul>